.cart-cabinet {
  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @include laptop {
      flex-wrap: wrap;
    }
  }

  &__main-column {
    position: relative;
    padding-top: 20px;
    flex-grow: 1;
    padding-bottom: 50px;
    @include laptop {
      padding-bottom: 10px;
    }

    &_pos_1 {
      max-width: 665px;
      width: 100%;
      padding-right: 20px;
      @include laptop {
        padding-left: 20px;
        padding-right: 0;
      }
      @include phones {
        padding-left: 0;
      }
    }

    &_pos_2 {
      padding-left: 20px;
      max-width: 385px;
      width: 100%;
      @include phones {
        padding-left: 0;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: #e3e3e3;
        @include laptop {
          display: none;
        }
      }
    }
  }

  &__item {
  }

  &__title {
    display: flex;
    @include laptop {
      cursor: pointer;
    }
  }

  &__title-text {
    font-weight: normal;
    font-size: 18px;
    color: #000000;
  }

  &__title-column {
    &_pos_1 {
      @include laptop {
        max-width: 200px;
        width: 100%;
      }
    }

    &_pos_2 {
      display: flex;
      align-items: center;
    }
  }

  &__img {
    &_minus {
      display: none;
    }
  }

  &__title.active {
    .cart-cabinet__img_plus {
      display: none;
    }

    .cart-cabinet__img_minus {
      display: block;
    }
  }

  &__inner-wrap {
    border: 1px solid #e2e2e2;
    padding: 25px 40px 25px;
    margin-top: 30px;
    @include tablets {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include phones {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__content {
    display: flex;
  }

  &__content-column {
    &_pos_1 {
      flex-grow: 1;
      padding-bottom: 35px;
    }

    &_pos_2 {
      max-width: 118px;
      width: 100%;
      padding-top: 42px;
      @include phones {
          display: none;
      }
    }
  }

  &__head {
    display: flex;
  }

  &__head-column {
    width: 25%;
    margin-bottom: 20px;
    padding: 0 10px;
    @include phones {
      width: 33.333333%;
      padding: 0 3px;
      text-align: center;
    }
  }
  &__head .cart-cabinet__head-column:nth-child(2) {
    @include phones {
      display: none;
    }
  }

  &__head-text {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    color: #000000;
  }

  &__row {
    display: flex;
  }

  &__row .cart-cabinet__column:nth-child(2) {
    @include phones {
        display: none;
    }
  }

  &__column {
    width: 25%;
    position: relative;
    padding: 0 10px 10px;
    display: flex;
    justify-content: center;
    @include phones {
        width: 33.333333%;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background: #e3e3e3;
    }

    &:last-child:before {
      display: none;
    }

    &:first-child {
      justify-content: flex-start;
    }
  }

  &__row:last-child .cart-cabinet__column {
    padding-bottom: 0;
  }

  &__id {
    display: flex;
  }

  &__id-img-box {
    margin-right: 7px;
  }

  &__id-img {
  }

  &__id-text {
  }

  &__btn.btn-grey {
    background: linear-gradient(180deg, #c5c5c5 0%, rgba(255, 255, 255, 0) 100%), #313131;
    border: 1px solid #bdbdbd;
    font-weight: normal;
    font-size: 10px;
    padding: 4px 11px;
    color: #f9f9f9;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__bottom-btn.btn {
    max-width: 120px;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    padding: 3px 23px;
    line-height: 20px;
  }

  &__inner-other-wrap {
    margin-top: 30px;
  }

  &__other-content {
  }

  &__other-row {
    display: flex;
    //justify-content: space-between;
    margin-bottom: 22px;
  }

  &__other-column {
    &_pos_1 {
      width: 45%;
      padding-right: 10px;
    }

    &_pos_2 {
      width: 55%;
      padding-left: 10px;
    }
  }

  &__key {
    font-weight: normal;
    font-size: 12px;
    color: #606060;
  }

  &__value {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
  }

  &__other-bottom {
    display: flex;
    align-items: center;
  }

  &__other-btn.btn-grey {
    margin-right: 30px;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    max-width: 174px;
    padding: 9px 5px;
    width: 100%;
  }

  &__other-link {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;
  }
  &__cart-card {
    @include laptop {
      margin-top: 30px;
      padding-left: 20px;
    }
    @include phones {
      padding-left: 0;
    }
  }
}