.cart {
  &__enter-promo {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
    @include phones {
      margin-bottom: 40px;
    }

  }
  &__cart-sum {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
    @include tablets {
      margin-bottom: 50px;
    }
  }
  &__cart-buttons {
    margin-bottom: 30px;
  }
  &__note {
    text-align: center;
    &_indent_bottom {
      margin-bottom: 90px;
    }
  }
  &__note-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8A8A8A;
    a {
      margin-left: 3px;
      text-decoration: underline;
      color: #8A8A8A;
      &:hover {
        text-decoration: none;
      }
    }

  }
}