extend include/template_base

include include/blocks/registration-sms

block variables
	- var title = 'Главная';

block content
		h1.main-title.main-title_indent_bottom.container Регистрация
		+registration-sms()