mixin cart-buttons(data)
	.cart-buttons&attributes(attributes)
		.cart-buttons__container.container
			.cart-buttons__wrap
				.cart-buttons__btn-wrap.cart-buttons__btn-wrap_pos_1
					a.cart-buttons__btn.btn(href="#") Продолжить оформление
				.cart-buttons__btn-wrap.cart-buttons__btn-wrap_pos_2
					a.cart-buttons__btn.btn-grey(href="#") Купить в один клик


