mixin cart-order-sum(data)
	.cart-order-sum
		.cart-order-sum__container
			.cart-order-sum__wrap
				.cart-order-sum__top
					.cart-order-sum__row
						.cart-order-sum__column.cart-order-sum__column_mod_strong.cart-order-sum__column_pos_1 Стоимость товаров
						.cart-order-sum__column.cart-order-sum__column_mod_strong.cart-order-sum__column_pos_2 128 000 руб
					.cart-order-sum__row
						.cart-order-sum__column.cart-order-sum__column_pos_1 Скидка
						.cart-order-sum__column.cart-order-sum__column_pos_2 12 800 руб
					.cart-order-sum__row
						.cart-order-sum__column.cart-order-sum__column_pos_1 Доставка
						.cart-order-sum__column.cart-order-sum__column_pos_2 12 800 руб
				.cart-order-sum__center
					.cart-order-sum__row
						.cart-order-sum__column.cart-order-sum__column_mod_strong.cart-order-sum__column_pos_1 Итого
						.cart-order-sum__column.cart-order-sum__column_mod_strong.cart-order-sum__column_pos_2 115 200 руб
				.cart-order-sum__bottom
					.cart-order-sum__btn.btn Оформить заказ
					.cart-order-sum__note
						| Нажимая кнопку, пользователь даёт своё согласие на обработку
						br
						| персональных данных и принимает
						a(href="#") условия политики конфиденциальности.







