mixin cart-sum(data)
	.cart-sum
		.cart-sum__wrap
			.cart-sum__row
				.cart-sum__column.cart-sum__column_mod_strong.cart-sum__column_pos_1 Итого
				.cart-sum__column.cart-sum__column_mod_strong.cart-sum__column_pos_2 128 000 руб
			.cart-sum__row
				.cart-sum__column.cart-sum__column_pos_1 Скидка  - 10%
				.cart-sum__column.cart-sum__column_pos_2 12 800 руб
			.cart-sum__row
				.cart-sum__column.cart-sum__column_mod_strong.cart-sum__column_pos_1 Всего
				.cart-sum__column.cart-sum__column_mod_strong.cart-sum__column_pos_2 115 200 руб



