mixin enter-promo(data)
	.enter-promo&attributes(attributes)
		.enter-promo__wrap
			.enter-promo__title ПРОМОКОД
			.enter-promo__inner-wrap
				input.enter-promo__input(placeholder="Введите код")
				button.enter-promo__btn Применить


