mixin registration-sms(data)
	.registration-sms.registration-sms_poition&attributes(attributes)
		.registration-sms__wrap
			.registration-sms__content
				.registration-sms__title Введите код из SMS
				input.registration-sms__input-main(placeholder="Введите код")
				a.registration-sms__btn.btn-grey(href="#") Отправить
				a.registration-sms__link(href="#") Запросить повторно